@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.outer-container {
  @apply mx-4 bg-slate-800 rounded-3xl shadow-lg hover:shadow-gray-500;
}

.title {
  @apply text-3xl font-bold mb-4 mt-4 pb-4 pt-8 text-center text-white;
}

.btn {
  @apply py-4 px-4 mx-4 mt-4 font-bold rounded bg-slate-300 text-center text-xl;
  width: 90%
}

.total {
  @apply py-2 px-4 text-right font-bold bg-yellow-200 text-4xl rounded-lg;
  width: 75%
}

.calculation {
  @apply py-4 px-10 mt-4 font-bold rounded bg-slate-300 text-center text-xl;
}

.number-area {
  @apply grid grid-cols-3 my-4 mx-4;
}

.calculate-area {
  @apply flex justify-center mb-4;
}

.plus-minus-mutiply-divide-area {
  @apply flex flex-col px-2 my-4;
}

.number-9 {
  @apply col-span-2
}

.all-container {
  @apply flex flex-col items-center;
}

